* {
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #252525;
  min-height: 100vh;
}

form {
  margin-bottom: 3rem;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffffff;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

body {
  place-items: start;
  padding: 0 4rem;
}

form {
  display: flex;
  align-items: end;
  gap: 2rem;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 1rem 0 0;
  display: block;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}

.games {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

img {
  width: 12rem;
}

@media (max-width: 870px) {
  form {
    display: flex;
    flex-direction: column;
  }
  button {
    width: 100%;
  }
}